<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Plivo Webphone Demo</title>
        <meta name="description" content="">
        <script language="javascript" content-type="text/javascript" src="static/jquery.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/plivosdk/web/plivo.min.js"></script>
        <link href="static/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/css/call.css" rel="stylesheet">
        <script type="text/javascript">
          // Login with SIP Endpoint
          function login() {
              // SIP Endpoint username and password
              var username = '{{username}}';
              var password = '{{password}}';
              // Login
              Plivo.conn.login(username, password);
          }
        </script>
        <script type="text/javascript" src="/js/call.js"></script>
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <img class="muted" src="static/logo.png">
            </div>
            <div class="row-fluid marketing">
                <div class="span12">
                    <h4>Plivo WebSDK Webphone Demo</h4>
                    <div id="logout_box" style="display: none">
                        <input class="btn" type="button" id="btn_logout" onclick="logout()" value="Logout">
                    </div>
                    <br>
                    <span class="label" id="status_txt">Login</span><br/><br/>
                    <form id="callcontainer" style="display: none">
                        <input type="text" name="to" value="" id="to" placeholder="Phone number or a SIP URI">
                        <br/>
                        <a href="#" id="make_call" class="btn main-btn btn-success" onclick="call();">Call</a>
                    </form>
                    <div id="login_box">
                      <a href="#" onclick="login();">Login</a>
                    <div>
                </div>
            </div>
        </div>
    </body>
</html>
