<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Plivo Webphone Demo</title>
        <meta name="description" content="">
        <script
    			  src="https://code.jquery.com/jquery-3.2.1.min.js"
    			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    			  crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/plivosdk/web/plivo.min.js"></script>
        <link href="static/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/css/call.css" rel="stylesheet">
        <script type="text/javascript">
          // Login with SIP Endpoint
          function login() {
              // SIP Endpoint username and password
              var username = '{{username}}';
              var password = '{{password}}';
              $('#status_txt').text('Logging in');
              // Login
              Plivo.conn.login(username, password);
          }
        </script>
        <script type="text/javascript" src="/bundledjs/call.js"></script>
    </head>
    <body>
        <div class="container-narrow">
          <a href="/">Home</a> <br>
          <a href="/logout">Logout</a> <br> <br>
            <div class="masthead">
                <img class="muted" src="static/logo.png">
            </div>
            <div class="row-fluid marketing">
                <div class="span12">
                    <h4>Plivo WebSDK Webphone</h4>
                    <br>
                    <span class="label" id="status_txt">Login</span><br/><br/>
                    <form id="callcontainer" style="display: none">
                        <input type="text" name="to" value="" id="to" placeholder="Phone number or a SIP URI">
                        <br/>
                        <a href="#" id="make_call" class="btn main-btn btn-success">Call</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
