<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/createUser.css">
  </head>
  <body>
    {% if message %}
      {{ message }}
    {% endif %}
    <form id="form" action="#" method="post">
      <input type="text" id="username" placeholder="Username"><br>
      <input type="password" id="password" placeholder="Password"><br>
      <input type="text" id="displayName" placeholder="Name"><br>
      <select id="role">
        <option value="support_staff">Customer Support Staff</option>
        <option value="parlor_staff">Parlor Staff</option>
        <option value="admin">Admin</option>
      </select><br>
      <div class="parlorSelect">
        <select id="parlorId">
        </select><br>
      </div>
      <br>
      <input type="submit" value="Create User">
    </form><br><br>
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/createUser.js"></script>

  </body>
</html>
