<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>
  <body>
    <a href="/">Home</a> <br>
    <a href="/logout">Logout</a> <br> <br>
    <form id="form" action="#" method="post">
      <input type="text" id="customerName" value="" placeholder="Customer Name"> <br>
      <input type="text" id="customerAddress" value="" placeholder="Customer Address"> <br>
      <input type="text" id="customerMobile" value="" placeholder="Customer Mobile Number"> <br>
      <input type="text" id="orderDetails" value="" placeholder="Order"> <br>
      <select id="parlorId">
      </select><br>
      <input type="submit" name="" value="Order Now">
    </form>

    <h1>All Orders</h1>
    <div class="allOrders">

    </div>
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/bundledjs/createOrder.js"></script>

  </body>
</html>
