<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Plivo Webphone Demo</title>
        <meta name="description" content="">
        <script language="javascript" content-type="text/javascript" src="static/jquery.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/plivosdk/web/plivo.min.js"></script>
        <link href="static/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/css/receive.css" rel="stylesheet">
        <script type="text/javascript" src="/js/receive.js"></script>
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <img class="muted" src="static/logo.png">
            </div>
            <div class="row-fluid marketing">
                <div class="span12">
                    <h4>Plivo WebSDK Webphone Demo</h4>
                    <span class="label" id="status_txt">Login</span><br/><br/>
                    </form>
                        <div id="incoming_callbox" style="display: none;" class="call">
                            <a href="#" class="btn main-btn btn-success" onclick="answer()">Answer</a>
                            <a href="#" class="btn main-btn btn-danger" onclick="reject()">Reject</a>
                        </div>
                        <div id="btn-container" style="display: none">
                            <a href="#" id="hangup_call" class="btn main-btn btn-danger" onclick="hangup();">Hangup</a>
                            <a href="#" id="linkMute" class="badge badge-warning" onclick="mute();">Mute</a>
                            <a href="#" id="linkUnmute" class="badge badge-warning" onclick="unmute();" style="display: none">Unmute</a><br/>
                            <a class="btn btn-info" href="#" onclick="dtmf('1');">1</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('2');">2</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('3');">3</a>
                        <br/>
                        <a class="btn btn-info" href="#" onclick="dtmf('4');">4</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('5');">5</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('6');">6</a>
                        <br/>
                        <a class="btn btn-info" href="#" onclick="dtmf('7');">7</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('8');">8</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('9');">9</a>
                        <br/>
                        <a class="btn btn-info" href="#" onclick="dtmf('*');">*</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('0');">0</a>
                        <a class="btn btn-info" href="#" onclick="dtmf('#');"> #</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
